 h1{
    background-color:black;
    color:blue;
   }
 h2{
    color:green;
   }
 body{
	background-image:url("file:///home/sem6b12/Downloads/ggg.jpg");
	background-repeat:no-repeat;
	background-color:linen;
	background-attachment:scroll;
  	background-color:linen
	<p style="font-style:italic;">
	<p style="text-decoration:underline;"> Hello</p>
	
     }
   
